body {
    padding: 30px;
    min-width:700px;
}

.imageCard {
    width: 110px;
    height: 140px;
    margin: 5px;
    border-radius: 5px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.card-holder{
    display: inline-block;
}